{% block content %}

<head><title>Авторизация</title></head>
<body style="background: beige">
<p>{{ error }}</p>

  <form action='.' method='POST'>
      {% csrf_token %}
    <label for="username">Логин:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Пароль:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="files?folder=needed_files/" />
  </form>
</body>
{% endblock %}