<html>
<head>
    <title>Загрузить файл</title>
    <style> a { text-decoration: none; } </style>
    <style type="text/css"> A { color: #8b4513; } A:visited { color: #8b4513; } </style>
    <style> @font-face { font-family: Calibri; src: url({{FONT}}); }
    h1 { font-family: 'Calibri' } </style>
    <style>
        .btn {
            height: 30px;
            width: 120px;
            font-size: 22px;
            font-family: "Calibri";
        }
    </style>
</head>
    <body style="background: beige">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 style="display: inline"><font face="Calibri">
                <a style='color: #8b4513'>
                    {{ form }}
                    <input type="submit" value="Загрузить" name="submit_button" class="btn"/>
                </a>
            </font></h1>
        </form>
    </body>
</html>