<head><title>Файлы</title><style> a { text-decoration: none; } </style><style type="text/css"> A { color: #0000ff; } A:visited { color: #0000ff; } </style></head>
{% load staticfiles %}
<h1><a href='http://127.0.0.1:8000/files/mkdir?folder=/Users/Artem/Desktop/school_server/server/files/static/needed_files/' style='color: #7442c8'>**Создать папку**</a></h1>
<h1><a href='http://127.0.0.1:8000/files/upload?folder=needed_files/' style='color: #7442c8'>**Загрузить файл**</a></h1></br>
<h1><img src="{% static "images/file_icon.png" %}" height='50' width='40' alt='Файл'/><a href='{% static "needed_files/Урок №7.pdf" %}' download>Урок №7.pdf</a>&#160;&#160;&#160;&#160;&#160;<a href='http://127.0.0.1:8000/files/delete_file?delete=needed_files/Урок%20№7.pdf' style='color: #7442c8'>**Удалить файл**</a><input type='hidden' name=Урок%20№7.pdf value=1542551154.946984></h1>

